<template name="loginModal">
  <div class="ui modal" id="logInModal">
    <i class="close icon"></i>
    <div class="image content">
      <div class="description">
        {{> atForm}}
      </div>

    <!--
    <div class="header">
      Login
    </div>
    <div class="image content">
      <div class="description">
        {{> atForm}}
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Cancel
      </div>
      <div type="submit" value="Submit" class="ui positive right labeled icon button submitform">
        Submit
        <i class="checkmark icon"></i>
      </div>
    </div>-->
    </div>
  </div>
</template>
