<template name="newPostModal">
  <a class="item openModal" ><i class="book icon"></i>Add book</a>
  <div class="ui modal" id="newPostModal">
    <i class="close icon"></i>
    <div class="header">
      Submit a book
    </div>
    <div class="image content">
      <div class="description">
        <form class="ui form">
          <div class="field">
            <label>Title</label>
            <input name="title" placeholder="The title of the book" type="text">
          </div>
          <div class="field">
            <label>Author</label>
            <input name="author" placeholder="Author" type="text">
          </div>
          <div class="field">
            <label>Comments</label>
            <input name="comments" placeholder="Condition, opinion about the book..." type="text">
          </div>
        </form>
      </div>
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Cancel
      </div>
      <div type="submit" value="Submit" class="ui positive right labeled icon button submitform">
        Submit
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</template>
