<template name="postEdit">
  <h2>Edit post</h2>
  <div class="row">
  <form class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <input value="{{title}}" id="title" type="text" class="validate">
        <label for="title" class="active">Title</label>
      </div>
      <div class="input-field col s6">
        <input id="author" value="{{author}}" type="text" class="validate">
        <label for="author" class="active">Author</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input value="{{comments}}" id="comments" type="text" class="validate">
        <label for="comments" class="active">Comments</label>
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn" type="submit">Submit</button>
      <a class="waves-effect waves-light btn red floated right delete" href="">Delete book</a>
    </div>
  </form>
</div>
</template>
