<template name="postItem">
  <a class="collection-item avatar" href="{{pathFor 'postPage'}}">
    <i class="material-icons circle light-blue lighten-1">book</i>
    <span class="title grey-text text-darken-4">{{title}}</span>
    <p class="grey-text">{{author}} <br>
       <a href="{{pathFor 'userPage' name=this.username}}" class="">{{username}}</a>
       {{#if comments}} - {{comments}}{{/if}}
    </p>
    {{#if ownPost}}<a href="{{pathFor 'postEdit'}}" class="secondary-content light-blue-text text-lighten-1">
      <i class="material-icons">description</i></a>{{/if}}
  </a>
</template>
