<template name="postPage">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <i class="massive book icon"></i>
        <!--<img src="/images/wireframe/image.png">-->
      </div>
      <div class="content">
        <a class="header">{{title}}</a>
        <div class="meta">
          <span>{{author}}{{debug}}</span>
        </div>
        <div class="description">
          <p>{{comments}}</p>
        </div>
        <div class="extra">
          <div class="ui right floated primary button">
            Request book
            <i class="right chevron icon"></i>
          </div>
          <div class="ui label">{{username}}</div>
        </div>
      </div>
    </div>
  </div>
</template>
