<template name="userPage">
  <div class="row">
    <div class="col s12 m4">
      <div class="card">
        <div class="card-image">
          <img src="/images/user.jpg">
          <span class="card-title">{{username}}</span>
        </div>
        <div class="card-content">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
    <div class="col s12 m8">
      <div class="row">
        {{#each userPosts}}
          <div class="col s12 l6">
            {{>postCard}}
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>
